<h2>Articles</h2>
<hr class="headerDivider">
{{#each this}}
    <hr class="articleDivider">
    <div class="article">
        <div class="articleImage">
            <a href=""><img src="{{media_details/sizes/thumbnail/source_url}}" alt=""></a>
        </div>
        <div class="articleInformation">
            <a href=""><span class="articleTitle">{{title/rendered}}</span></a><br>
            <span class="articleTeaser"></span><br>
            <span class="articleLink"><a href="" title="{{title/rendered}}">Read More <i class="glyphicon glyphicon-chevron-right"></i></a></span>
        </div>
    </div>
{{/each}}


