<div class="absoluteTop lightShadow"></div>
<div class="contentTopUnder" id="contentTopUnder">
    <img class="featuredImage" src="images/ohs-sign.jpg" alt="">
</div>
<div class="absoluteBottom lightShadow"></div>