<div class="absoluteTop lightShadow"></div>
<div class="contentTopUnder" id="contentTopUnder">
    <img class="featuredImage" src="/wp-content/themes/ohs-theme/images/ohs-sign.jpg" alt="">
</div>
<div class="absoluteBottom lightShadow"></div>