<div class="absoluteTop lightShadow"></div>
<div class="contentTopUnder" id="contentTopUnder">
    <img class="featuredImage" src="{{media/featured}}" alt="">
</div>
<div class="absoluteBottom lightShadow"></div>