<h2>Stay informed! Subscribe now.</h2>
<hr>
<form action="#" method="post" id="newsletter" class="newsletter">
    <input type="email" class="emailSignup" name="emailAddress" placeholder="Enter your email for OHS updates">
    <button type="submit" form="newsletter" class="btn btn-primary" value="Sign Up">Subscribe</button>
</form>