<h2>Have you subscribed to our email list yet?</h2>
<hr>
<form action="#" method="post" id="newsletter" class="newsletter">
    <input type="email" class="emailSignup" name="emailAddress" placeholder="Enter your email for OHS updates">
    <button type="submit" form="newsletter" class="btn btn-primary" value="Sign Up">Sign Up</button>
</form>