<h2>Have you subscribed to our email list yet?</h2>
<hr>
<form action="//otisfield.us12.list-manage.com/subscribe/post?u=b148631bd45d89c5b0c033169&id=461e8db4f9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate newsletter" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="required email emailSignup" id="mce-EMAIL" placeholder="Enter your email for OHS updates">
    <button type="submit" value="Subscribe" form="mc-embedded-subscribe-form" name="subscribe" id="mc-embedded-subscribe" class="button btn btn-primary">Subscribe</button>
    <div id="mce-responses" class="clear">
        <div class="response" id="mce-error-response" style="display:none"></div>
        <div class="response" id="mce-success-response" style="display:none"></div>
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b148631bd45d89c5b0c033169_461e8db4f9" tabindex="-1" value=""></div>
</form>