<section class="navbar navbar-inverse">
    <div class="container">
        <section class="footerAddress" id="footerAddress">
            <span>Otisfield Historical Society</span><br>
            <span>53 Bell Hill Rd</span><br>
            <span>Otisfield, ME 04270</span><br>
        </section>
        <section class="copyright" id="copyright">
            <span>&copy; 2014-2016, Otisfield Historical Socity.</span><br>
            <span>All Rights Reserved.</span>
        </section>
    </div>
</section>