<h2>Archives</h2>
<hr>
<p>The Sybil Lamb Archive Room is open to the public for researching or viewing.  It is open Wednesdays, 2PM-4PM, from May to September, weather permitting; or by appointment</p>
<p><a href="/archives">Learn More</a></p>